In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('/home/is/shuntaro-o/dev/compare_population_and_tweet_number/data/mobile/Tokyostation/Tokyostation_2021to2022.csv')

In [3]:
df = df[df['date']<20220101]

In [4]:
df = df[(df['area']==533946111) | (df['area']==533946112)| (df['area']==533946113)| (df['area']==533946114)]

In [5]:
day_list_long = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
day_list_short = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30']
day_list_Feb = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28']
hour_list = ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']

In [6]:
df

,date,day_of_week,time,area,residence,age,gender,population
16,20210101,15,0,533946111,-1,-1,-1,1000
17,20210101,15,0,533946112,-1,-1,-1,1978
18,20210101,15,0,533946113,-1,-1,-1,1171
19,20210101,15,0,533946114,-1,-1,-1,1360
52,20210101,15,100,533946111,-1,-1,-1,857
...,...,...,...,...,...,...,...,...
315307,20211231,15,2200,533946114,-1,-1,-1,2007
315340,20211231,15,2300,533946111,-1,-1,-1,3106
315341,20211231,15,2300,533946112,-1,-1,-1,2235
315342,20211231,15,2300,533946113,-1,-1,-1,2189
315343,20211231,15,2300,533946114,-1,-1,-1,1780

In [ ]:
estimate_from_mobile_data = []
for month in ['01','02','03','04','05','06','07','08','09','10','11','12']:
    if month in ['01', '03', '05', '07', '08','10', '12']:
        day_list = day_list_long
    elif month == '02':
        day_list = day_list_Feb
    else:
        day_list = day_list_short
    for day in day_list:
        estimate_perday = []
        key_day = int('2021' + month+ day)
        df_oneday = df[df['date']==key_day]
        for hour in range(0,24):
            key_hour = hour*100
            df_onehour =df_oneday[df_oneday['time']==key_hour]
            estimate_perday.append(df_onehour['population'].sum())
        estimate_from_mobile_data.append(estimate_perday)

In [ ]:
print([len(v) for v in estimate_from_mobile_data])

In [ ]:
len(estimate_from_mobile_data)

In [ ]:
estimate_from_mobile_data =  np.array(estimate_from_mobile_data)

In [ ]:
np.save('/home/is/shuntaro-o/dev/compare_population_and_tweet_number/data/mobile/Tokyostation/numpy_array/Tokyostation_2021.npy',estimate_from_mobile_data )

## 可視化

In [ ]:
plt.subplots(facecolor="white",figsize=(10,8))
heatmap = sns.heatmap(estimate_from_mobile_data.T, cmap="Reds")
heatmap.set_title('2022/7 Estimated number of tweets(ALL)')
heatmap.set_xlabel('day',fontsize=20)
heatmap.set_ylabel('hour',fontsize=20)

In [ ]:
estimate_from_mobile_data

In [ ]:
estimate_from_mobile_data_flatten = estimate_from_mobile_data.flatten()

In [ ]:
estimate_from_mobile_data_flatten

In [ ]:
x_label = []
for month in ['01','02','03','04','05','06','07','08','09','10','11','12']:
    if month in ['01', '03', '05', '07', '08','10', '12']:
        day_list = day_list_long
    elif month == '02':
        day_list = day_list_Feb
    else:
        day_list = day_list_short
    for day in day_list:
        for hour in range(0,24):
            hour = str(hour)
            key = int('21'+ month + day + hour)
            key = str(key)
            x_label.append(key)

In [ ]:
xs = np.array(range(8760))

In [ ]:
xlabel

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data=[
    go.Scatter(x=x_label, y=estimate_from_mobile_data_flatten),
    #go.Scatter(x=xs, y=randoms, name="random"),
])
fig.show()