In [1]:
import pandas as pd
import json

In [21]:
file_PATH = '/home/is/shuntaro-o/dev/compare_population_and_tweet_number/data/social_corr/overpass/'

In [22]:
list_key = [
    "Tokyostation",
    "Arashiyama",
    "Nakagyou",
    "Kinkaku",
    "Kiyomizu",
    "gakusei",
    "Nizyou",
    "Touzi",
    "Kyotostation"
]

In [23]:
data = []
for file_name in list_key:
    tmp = []
    full_PATH = file_PATH + file_name + '.geojson'
    with open(full_PATH, encoding='utf-8') as f:
        d = json.load(f)
        df=pd.json_normalize(d['features'])
        try:
            tmp.append(len(df[df['properties.shop']=='convenience']))
        except KeyError:
            tmp.append(0)
        try:
            tmp.append(len(df[df['properties.amenity']=='restaurant']))
        except KeyError:
            tmp.append(0)
        try:
            tmp.append(len(df[df['properties.amenity']=='school']))
        except KeyError:
            tmp.append(0)
        try:
            tmp.append(len(df[df['properties.highway']=='bus_stop']))
        except KeyError:
            tmp.append(0)
        try:
            tmp.append(len(df[df['properties.tourism']=='hotel']))
        except KeyError:
            tmp.append(0)
        data.append(tmp)

In [24]:
index = [
    "東京駅",
    "嵐山",
    "中京区",
    "金閣寺",
    "清水寺",
    "学生街",
    "二条城",
    "東寺",
    "京都駅",
]

In [25]:
df = pd.DataFrame(data, index=index, columns=['convenience','restaurant','school','bus_stop','hotel'])

In [26]:
df

     convenience  restaurant  school  bus_stop  hotel
東京駅           22          88       1        49      8
嵐山             0           7       0         0      0
中京区           17          58       1        17      6
金閣寺            4           9       0        17      0
清水寺            3          24       1         8      2
学生街            4           1       0        21      0
二条城            7          23       1        11      1
東寺             3           3       0        24      0
京都駅           21          83       1        60     37

In [63]:
df.to_csv('/home/is/shuntaro-o/dev/compare_population_and_tweet_number/data/social_corr/overpass/facility_numbers.csv')