In [1]:
import pandas as pd
from geopy.distance import geodesic

In [2]:
df_latlon = pd.read_csv('/home/is/shuntaro-o/dev/compare_population_and_tweet_number/data/distance.csv')

In [3]:
df_latlon

             南         西          北         東        駅緯度         駅経度
嵐山   35.008333  135.6625  35.016667  135.6750  35.015282  135.677652
中京区  35.008333  135.7500  35.016667  135.7625   0.000000    0.000000
金閣寺  35.033333  135.7250  35.041667  135.7375  35.027792  135.730690
清水寺  34.991667  135.7750  35.000000  135.7875  34.996123  135.768365
学生街  35.033333  135.7750  35.041667  135.7875   0.000000    0.000000
二条城  35.008333  135.7375  35.016667  135.7500   0.000000    0.000000
東寺   34.975000  135.7375  34.983333  135.7500  34.980143  135.752341
京都駅  34.983333  135.7500  34.991667  135.7625   0.000000    0.000000

In [4]:
df_latlon['経度'] = (df_latlon['西'] + df_latlon['東'])/2
df_latlon['緯度'] = (df_latlon['南'] + df_latlon['北'])/2

In [5]:
df_latlon

,南,西,北,東,駅緯度,駅経度,経度,緯度
嵐山,35.008333,135.6625,35.016667,135.6750,35.015282,135.677652,135.66875,35.012500
中京区,35.008333,135.7500,35.016667,135.7625,0.000000,0.000000,135.75625,35.012500
金閣寺,35.033333,135.7250,35.041667,135.7375,35.027792,135.730690,135.73125,35.037500
清水寺,34.991667,135.7750,35.000000,135.7875,34.996123,135.768365,135.78125,34.995833
学生街,35.033333,135.7750,35.041667,135.7875,0.000000,0.000000,135.78125,35.037500
二条城,35.008333,135.7375,35.016667,135.7500,0.000000,0.000000,135.74375,35.012500
東寺,34.975000,135.7375,34.983333,135.7500,34.980143,135.752341,135.74375,34.979167
京都駅,34.983333,135.7500,34.991667,135.7625,0.000000,0.000000,135.75625,34.987500

In [6]:
distance = []
for i ,item in df_latlon.iterrows():
    if item['駅緯度']==0:
        distance_m = 0
    else:
        point = (item['緯度'],item['経度'])
        station = (item['駅緯度'],item['駅経度'])
        distance_m = geodesic(point, station).m 
    distance.append(distance_m)

In [9]:
df_latlon['駅距離'] = distance

In [11]:
df_latlon.to_csv('/home/is/shuntaro-o/dev/compare_population_and_tweet_number/data/distance/ca;_distance.csv')